./.idea

vcs.xml
/.idea/.idea.complex.dir/.idea/.gitignore
/.idea/.idea.complex.dir/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.complex.dir/.idea/encodings.xml
/.idea/.idea.complex.dir/.idea/indexLayout.xml
/.idea/.idea.complex.dir/.idea/misc.xml
/.idea/.idea.complex.dir/riderModule.iml
/.idea/.idea.complex.dir/.idea/sqldialects.xml
